:root {
  --cell-width: 160px;
  --cell-height: 128px;
}

* {
  font-size: 8px;
}

#gameboard {
  margin: 0px auto;
  height: 768px;
  width: calc(var(--cell-width) * 8)px;
}

td.exit {
  height: 32px;
  color: blue;
}

td {
  border: 1px black solid;
  width: 200px;
  height: var(--cell-height);
}

td.void {
  display: hidden;
  height: 32px;
  border: none;
}



div.pawn {
  background-image: url(assets/zheng_jiang.png);
  background-size: 128px 128px;
  background-repeat: no-repeat;
}

div#rook {
  background-image: url(assets/huang_zhong.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div#knight {
  background-image: url(assets/zhang_fei.png);
  background-size: 128px 256px;
  background-repeat: no-repeat;
} 

div#knight2 {
  background-image: url(assets/zhao_yun.png);
  background-size: 128px 256px;
  background-repeat: no-repeat;
} 

div#knight3 {
  background-image: url(assets/guan_yu.png);
  background-size: 128px 256px;
  background-repeat: no-repeat;
} 

div#knight4 {
  background-image: url(assets/ma_chao.png);
  background-size: 128px 256px;
  background-repeat: no-repeat;
} 

div#king {
  background-image: url(assets/cao_cao.png);
  background-size: 256px 256px;
  background-repeat: no-repeat;
} 